<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a class="brand-link">
      <span class="brand-text font-weight-light">Angular Classes</span>
  </a>
  <div class="sidebar">
      <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <li class="nav-header">Classes</li>
              <li *ngFor="let link of links" class="nav-item">
                  <a [routerLink]="link.rota" class="nav-link">
                      <i [class]="link.cor"></i>
                      <p class="text"><font [color]="link.hexa">{{link.textContent}}</font></p>
                  </a>
              </li>
          </ul>
      </nav>
  </div>
</aside>